@import '../../styles/settings.scss';

.projects__outer {
  overflow: hidden;
  min-height: 83.9vh;
  background-color: $raven;
  z-index: 800;
}

.projects__inner {
  height: 83.9vh;
  width: 500vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.projects__underlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  img {
    width: 20%;
    opacity: 0.35;
    filter: invert(1);
  }
}

#projects-container {
  padding-top: 4.5rem;
}

.projects__title__container {
  border: 1px solid $platinum-2;
  padding: 0.5rem 1rem;
  background-color: $jasper;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__title {
  display: flex;
  gap: 2rem;

  h1 {
    font-family: 'Alyrak';
    font-weight: 100;
    font-size: 7rem;
    color: $platinum-2;
  }

  p {
    font-family: $font-text;
    font-weight: 100;
    font-size: 2rem;
    color: $platinum-2;
  }
}

.projects__title__pattern {
  width: 20%;
  opacity: 0.8;

  img {
    width: 100%;
  }
}

//  SECTIONS
.scroll__section {
  width: 100vw;
  padding: 1rem;
  z-index: 4;
  background-color: $jasper;
  border: 1px solid $platinum-2;
  display: flex;
  gap: 10%;

  h3 {
    font-size: 2rem;
    color: $platinum-2;
    font-family: $font-text;
    font-weight: 100;
    border: 1px solid $platinum-2;
    border-radius: 0.5rem;
    display: inline;
    padding: 0rem 0.4rem;
  }
}

.one {
  margin-left: 20vw;
}

.two {
}

.three {
}

.four {
}

.scroll__section__project {
  display: flex;
  align-items: center;
}

@media (max-width: 540px) {
  #projects-container {
    padding-top: 3rem;
  }

  .projects__inner {
    height: 85vh;
  }

  .projects__underlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    img {
      width: 40%;
      opacity: 0.3;
      filter: invert(1);
    }
  }

  .projects__title {
    gap: 1rem;

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .projects__title__pattern {
    display: none;
  }

  .scroll__section {
    flex-direction: column;
    gap: 10%;

    h3 {
      font-size: 1.5rem;
    }
  }
}
