@import '../../styles/settings.scss';

.projects__outer {
  overflow: hidden;
}

.projects__inner {
  height: 88.4vh;
  width: 500vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.projects__underlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  img {
    width: 20%;
    opacity: .3;
    filter: invert(1);
  }
}

#projects-container {
  padding-top: 3rem;
}

.projects__title__container {
  background-color: $jasper;
  border: 1px solid $cosmic-latte;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__title {
  display: flex;
  gap: 1.5rem;
  color: $cosmic-latte;

  h1 {
    font-family: 'Alyrak';
    font-weight: 500;
    font-size: 5rem;
  }

  p {
    font-family: $font-text;
    font-weight: 100;
    font-size: 1.5rem;
  }
}

.projects__title__pattern {
  width: 15%;
  opacity: .8;

  img {
    width: 100%;
  }
}

//  SECTIONS
.scroll__section {
  width: 100vw;
  padding: .5%;
  z-index: 4;
  background-color: $jasper;
  border: 1px solid $cosmic-latte;
  display: flex;
  gap: 5%;

  h3 {
    font-family: $font-text;
    font-weight: 100;
    font-size: 2rem;
    color: $cosmic-latte;
    border: 1px solid $cosmic-latte;
    border-radius: .5rem;
    padding: 0 .4%;
  }
}

.one {
  margin-left: 20vw;
}

.scroll__section__project {
  display: flex;
  align-items: center;
}

//  MODAL
.project__modal {
  height: 100vh;
  position: absolute;
  opacity: 0;
  width: 0;
  transition: all .3s ease-out;
}

.project__modal.show {
  height: 100vh;
  padding-top: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 990;
}

.project__modal__inner {
  width: 85%;
  height: 100vh;
  background-color: $eerie-black;
  padding: 1%;
}

@media (max-width: 540px) {
  #projects-container {
    padding-top: 3.1rem;
  }

  .project__modal__inner {
    width: 90%;
  }

  .projects__underlay {
    img {
      width: 40%;
    }
  }

  .projects__title {
    gap: 1rem;

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .projects__title__pattern {
    display: none;
  }

  .scroll__section {
    flex-direction: column;
    padding: 1%;

    h3 {
      padding-left: 2%;
      font-size: 1.5rem;
    }
  }
}
