@import '../../styles/settings.scss';

.quote__wrapper {
  overflow: hidden;
  z-index: 999;
  margin-bottom: -1rem;
  padding-top: 1rem;
}

.quote__header {
  background-color: $raven;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  z-index: 25;
  width: 150%;

  h1 {
    font-size: 1.5rem;
    font-family: $font-text;
    font-weight: 100;
    white-space: nowrap;
    color: $cosmic-latte;
  }
}

@media(max-width: 540px) {
  .quote__wrapper {
    margin-bottom: -8%;
  }

  .quote__header {
    h1 {
      font-size: 1rem;
    }
  }
}