@import '../../styles/settings.scss';

.projects__card__wrapper {
  width: 100%;
  border: 1px solid $cosmic-latte;
}

.projects__card__container {
  display: flex;
  align-items: center;
  gap: 5%;
}

.projects__card__inner {
  width: 64%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.flex__card__inner__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
}

.projects__card__image {
  width: 100%;

  img {
    width: 100%;
    display: block;
    filter: sepia(.3) contrast(.95);
    box-shadow: 5px 5px 15px $raven;
  }
}

.projects__card__title {
  h1 {
    font-family: $font-text;
    font-weight: 600;
    font-size: 2rem;
    color: $cosmic-latte;
    text-transform: uppercase;
  }
}

.projects__card__btn {
  display: inline;

  button {
    width: 90%;
    cursor: pointer;
    background: transparent;
    padding: .5rem 2rem;
    border: 1px solid $cosmic-latte;
    font-family: $font-text;
    font-weight: 100;
    font-size: 1rem;
    color: $cosmic-latte;
  }
}

.projects__card__link {
  margin-top: 1rem;

  a {
    color: $cosmic-latte;
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: space-between;
    width: 100%;
  }

  p {
    text-align: center;
    width: 90%;
    border: 1px solid $cosmic-latte;
    padding: .1rem 1rem;
    font-family: $font-text;
    font-weight: 800;
    font-size: 1.7rem;
  }

  img{
    cursor: pointer;
    width: 25%;
    filter: invert(1);
  }
}

.projects__card__serial {
  p {
    font-family: $font-text;
    font-weight: 100;
    font-size: 1rem;
    color: $cosmic-latte;
  }
}

@media (max-width: 540px) {
  .projects__card__container {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .projects__card__inner {
    width: 100%;
  }

  .flex__card__inner__info {
    align-items: flex-start;
    gap: 1rem;
    width: 100%;

    button {
      width: 100%;
    }

    p {
      width: 100%;
    }
  }

  .flex__card__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .projects__card__title {
    h1 {
      font-size: 1.5rem;
    }
  }

.projects__card__link {
  margin-top: .5rem;
}

  .projects__card__serial {
    p {
      font-size: .8rem;
    }
  }
}