@import '../../styles/settings.scss';

.project__card__container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;

  &.odd {
    flex-direction: row-reverse;
  }
}

.project__card__images {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 70%;
}

.project__card__img {
  display: flex;

  img {
    width: 100%;
    background-color: $jet;
    padding: 2rem;
  }
}

.project__card__info {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.project__card__info__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project__card__title {
  text-align: start;

  p {
    font-family: $font-head;
    font-size: 3rem;
    color: $eerie-black;
    text-transform: uppercase;
  }
}

.project__card__desc {
  opacity: .85;

  p {
    font-size: 1.1rem;
    color: $eerie-black
  }
}

.project__card__links__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project__card__link {
  img {
    width: 3rem;
  }

  &:hover {
    filter: invert(80%) sepia(54%) saturate(698%) hue-rotate(326deg) brightness(130%) contrast(90%);
  }
}

@media (max-width: 540px) {

  .img__2 {
    display: none;
  }

  .project__card__container {
    flex-direction: column;
    gap: 2rem;
  }

  .project__card__images {
    width: 100%;
  }

  .project__card__title {
    p {
      font-size: 2.5rem;
    }
  }

  .project__card__info {
    width: 100%;
    gap: 2.5rem;
  }

  .project__card__link {
    img {
      width: 2.5rem;
    }
  }
}
