@import '../../styles/settings.scss';

.portfolio__wrapper {
  background-color: $cosmic-latte;
  overflow: hidden;
  padding: 3rem 10%;
}

.portfolio__title {
  z-index: 1;

  h1 {
    font-family: $font-head;
    font-size: 10rem;
    font-weight: 400;
    color: $eerie-black;
  }
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.portfolio__project__container {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}

@media (max-width: 540px) {

  .portfolio__wrapper {
    padding: 3rem 5%;
  }

  .portfolio__title {
    h1 {
      font-size: 3.5rem;
    }
  }

  .portfolio__container {
    gap: 4rem;
  }
}
