@import '../../styles/settings.scss';

.portfolio__wrapper {
  background-color: $cosmic-latte;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  padding: 6rem 10%;
  min-height: 100vh;
  gap: 3rem;
}

.portfolio__title {
  z-index: 1;
  overflow-y: hidden;
  height: 10rem;

  p {
    font-family: $font-head;
    font-size: 8rem;
    color: $jasper;
    font-weight: 200;
  }

  p:first-of-type {
    letter-spacing: -.5rem;
  }

  p:last-of-type {
    color: $eerie-black;
  }
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.portfolio__project__container {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}

@media (max-width: 540px) {

  .portfolio__wrapper {
    padding: 3rem 5%;
  }

  .portfolio__title {
    height: 4rem;

    p {
      font-size: 2.5rem;
    }

    p:last-of-type {
      font-size: 3rem;
    }
  }

  .portfolio__container {
    gap: 4rem;
  }
}
