@import './settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
  cursor: default;
}

//  SCROLLBAR
html::-webkit-scrollbar {
  width: .4rem;
}

html::-webkit-scrollbar-thumb {
  background: $mustard;
}

html::-webkit-scrollbar-thumb:hover {
  background: $mustard;
}

//  BODY
body {
  padding: 0;
  margin: 0;
  background-color: $raven;
  font-family: $font-text;
  color: $cosmic-latte;
}

span {
  color: $mustard;
  //filter: brightness(1.1);
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;

  &:link {
    text-decoration: none !important;
  }
}
