//  FONTS
$font-text: 'Titillium Web', sans-serif;
$font-1: 'Lacquer', sans-serif;

//  MAIN PALLETTE
$persian-red: rgba(182, 76, 57, 1);
$jasper: rgba(195, 74, 54, 1);
$tan: rgba(218, 189, 154, 1);
$platinum-2: rgba(231, 231, 231, 1);
$cosmic-latte: rgba(255, 250, 231, 1);
$eerie-black: rgba(37, 34, 32, 1);
$raven: rgba(5, 3, 1, 1);
$grid: rgba(255, 255, 255, .2);
