//  FONTS
$font-head: 'Bebas Neue', sans-serif;
$font-text: 'Nunito Sans', sans-serif;

//  OLD PALLETTE
$persian-red: rgba(182, 76, 57, 1);
$jasper: rgba(195, 74, 54, 1);
$tan: rgba(218, 189, 154, 1);
$platinum-2: rgba(231, 231, 231, 1);
$grid: rgba(255, 255, 255, .2);

//  NEW PALLETTE
$cosmic-latte: rgba(253, 255, 245, 1);
$eerie-black: rgba(37, 34, 32, 1);
$raven: rgba(6, 6, 6, 1);
$mustard: rgba(255, 218, 86, 1);
