@import '../../styles/settings.scss';

#skills {
  min-height: 100vh;
  background-color: $raven;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 7;
  position: relative;
  overflow: hidden;

  h1 {
    font-family: 'Alyrak';
    font-size: 7rem;
    font-weight: 100;
    color: $cosmic-latte;
    position: absolute;
    top: 10%;
    z-index: 15;
  }
}

.skills__underlay {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 13;

  img {
    width: 100%;
    opacity: 0.2;
    transform: rotate(90deg);
  }
}

.skills__container {
  margin-top: 11%;
  display: grid;
  grid-template-columns: 9rem 9rem 9rem 9rem 9rem 9rem 9rem 9rem;
  background-color: $raven;
}

.skills__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 10.5rem;
  margin-bottom: 5rem;
  z-index: 14;

  img {
    width: 5rem;
    filter: invert(1) brightness(5);
    opacity: 0.9;

    &:hover {
      filter: invert(40%) sepia(10%) saturate(2365%) hue-rotate(355deg) brightness(1.7) contrast(0.6);
    }
  }

  p {
    font-size: 1.5rem;
    font-family: $font-text;
    font-weight: 100;
    color: $cosmic-latte;
  }
}

@media (max-width: 540px) {

  #skills {
    padding-top: 0.5rem;
    padding-bottom: 5rem;
    min-height: 85vh;

    h1 {
      font-size: 5rem;
    }

    p {
      text-align: center;
      font-size: 1.1rem;
      width: 90%;
    }
  }

  .skills__underlay {
    top: 43%;
    left: -35%;

    img {
      width: 180%;
    }
  }

  .skills__container {
    margin-top: 40%;
    grid-template-columns: 5rem 5rem 5rem 5rem;
  }

  .skills__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    margin-bottom: 1.1rem;

    img {
      width: 2.5rem;
      filter: invert(1) brightness(5);
      opacity: 0.8;
    }

    p {
      font-size: 1rem;
    }
  }
}