@import '../../styles/settings.scss';

.about__wrapper {
  background-color: $raven;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  border-bottom: 1px solid rgb(255, 255, 255, .2);
  display: flex;
  gap: 10%;
}

.about__underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  img {
    width: 100%;
    opacity: .3;
    filter: invert(1);
  }
}

.about__title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 30;
  margin-top: -31vw;
  gap: 7vw;
}

.about__title__hand {
  transform: rotate(90deg);
  z-index: 2;
  width: 100%;

  img {
    width: 100%;
  }
}

.about__title__info {
    width: 100%;
    transform: rotate(90deg);
    font-family: 'Alyrak';
    font-weight: 500;
    line-height: 0;
    color: $jasper;
    font-size: 23rem;
}

.about__info__container {
  display: flex;
  width: 100%;

  p {
    font-family: $font-text;
    font-weight: 100;
    color: $eerie-black;
    font-size: 2rem;
    text-shadow: 0 0 1px $eerie-black;
  }
}

.about__info__right {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 70%;
  background-color: $cosmic-latte;

  button {
    width: 100%;
    font-family: $font-text;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1;
    background-color: $cosmic-latte;
    padding: 1rem 3rem;
    border: none;
    border-top: 1px solid $eerie-black;
    color: $eerie-black;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 9;
  }
}

@media (max-width: 540px) {

  .about__wrapper {
    min-height: 100vh;
    max-height: 100vh;
  }

  .about__underlay {
    width: 100%;

    img {
      width: 185%;
    }
  }

  .about__title__container {
    margin-top: -1%;
  }

  .about__title__info {
    font-size: 7rem;
  }

  .about__info__container {
    p {
      font-size: 1rem;
    }
  }

  .about__info__right {
    padding-top: 150%;

    button {
      font-size: 1rem;
      padding: .5rem 1rem;
      letter-spacing: 0;
    }
  }
}
