@import '../../styles/settings.scss';

.about__wrapper {
  background-color: $raven;
  overflow: hidden;
  position: relative;
  z-index: 20;
  min-height: 130vh;
  border-bottom: 1px solid rgb(255, 255, 255, 0.6);
  display: flex;
  gap: 5%;
}

.about__underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  img {
    width: 100%;
    opacity: 0.4;
    filter: invert(1);
  }
}

.about__title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 30;
  margin-top: -30vw;
  gap: 7vw;
}

.about__title__hand {
  transform: rotate(90deg);
  z-index: 2;
  width: 100%;

  img {
    width: 100%;
  }
}

.about__title__info {
    width: 100%;
    transform: rotate(90deg);
    font-family: 'Alyrak';
    font-weight: 100;
    line-height: 0;
    z-index: 1;
    color: $jasper;
    font-size: 17rem;
    text-shadow: 0px 0px 200px $raven;
}

.about__info__container {
  display: flex;
  //align-items: flex-end;
  width: 100%;

  p {
    font-family: $font-text;
    font-weight: 100;
    color: $raven;
    font-size: 2rem;
    text-shadow: 0 1px 1px $raven;
  }
}

.about__info__right {
  align-items: center;
  text-align: center;
  width: 100%;
  display: flex;
  padding: 10%;
  padding-right: 2%;
  background-color: $platinum;
  border-top: 1px solid $raven;
  border-left: 1px solid $raven;
  border-bottom: 1px solid $raven;
  z-index: 11;
}

@media (max-width: 540px) {

  .about__wrapper {
    min-height: 80vh;
    max-height: 100vh;
  }

  .about__front__end {
    p {
      font-size: 0.7rem;
    }
  }

  .about__underlay {
    width: 100%;

    img {
      width: 145%;
    }
  }

  .about__title__container {
    margin-top: -10%;
  }

  .about__title__info {
      font-size: 31vw;
      text-shadow: 0px 0px 100px $raven;
  }

  .about__info__container {
    p {
      font-weight: 300;
      font-size: 1rem;
    }
  }
}
