@import '../../styles/settings.scss';

.home__wrapper {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.home__hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $raven;
  position: relative;
  gap: 8%;
  padding: 10%;
}

.hero__underlay {
  position: absolute;
  filter: invert(1) brightness(0.15) sepia(1);
}

.home__arrows {
  position: absolute;
  bottom: 15%;
  left: 5%;

  img {
    width: 20%;
    transform: rotate(90deg);
    opacity: 0.8;
  }
}

.home__hero__title {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  font-family: 'Alyrak';

  h1 {
    color: $persian-red;
    font-weight: 100;
    font-size: 13vw;
    line-height: 0.72;
    opacity: 1;
  }

  h2 {
    margin-top: -0.5rem;
    color: $platinum;
    font-weight: 100;
    font-size: 4.15vw;
    letter-spacing: 0.24vw;
    line-height: 0.76;
    opacity: 1;
    text-align: end;
  }
}

.home__hero__social {
  display: flex;
  gap: 1rem;
  margin-right: 0.5rem;
  margin-top: 1%;
  opacity: 1;

  img {
    width: 4rem;
    filter: invert(1);
  }
}

.home__hero__image {
  max-width: 50%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 40;
  margin-top: -3%;
  border: 2px solid $tan-2;
  transform: rotate(5deg);
}

.home__hero__image__box {
  display: flex;
  border-radius: 20rem;
  width: 70%;
  opacity: 1;

  img {
    width: 100%;
    border-radius: 20rem;
  }
}

.hero__image__one {
  transform: rotate(-5deg);
  margin-right: 4%;
  margin-bottom: -0.25%;
}

.hero__image__five {
  transform: rotate(-5deg);
  margin-left: 4%;
  margin-top: -0.2%;
}

.hero__image__two, .hero__image__four {
  transform: rotate(-5deg);
}

.hero__image__three {
  transform: scale(1.4) rotate(5deg);
  z-index: 1;
}

@media (max-width: 540px) {

  .home__wrapper {
    align-items: center;
    max-height: none;
  }

  .home__hero {
    flex-direction: column;
    justify-content: start;
    gap: 4rem;
    padding: 1rem;
    padding-bottom: 2rem;
    padding-top: 7rem;
    min-height: 100vh;
  }

  .home__arrows {
    left: 0;

    img {
      width: 15%;
    }
  }

  .home__hero__title {
    max-width: 100%;
    align-items: center;

    h1 {
      font-size: 5rem;
    }

    h2 {
      margin-top: 0;
      font-size: 1.7rem;
      letter-spacing: 0.05rem;
    }
  }

.home__hero__social {
  gap: 0.7rem;
  margin-right: 0;

  img {
    width: 2rem;
  }
}

  .home__hero__image {
    align-items: center;
    min-width: 100%;
  }

  .hero__image__three {
    transform: scale(1.3) rotate(5deg)
  }
}
