@import '../../styles/settings.scss';

.navbar__bottom__wrapper {
  width: 100%;
  background-color: $jasper;
  padding: .1rem 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px dotted $tan-2;

  p {
    font-family: $font-text;
    color: $cosmic-latte;
    filter: brightness(1.1);
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
  }
}

.cursor__nav {
  cursor: pointer;
}

@media (max-width: 540px) {

  .navbar__bottom__wrapper {
    padding: 0.1rem 15%;

    p {
      font-size: .8rem;
    }
  }
}
