@import '../../styles/settings.scss';

.navbar__top__wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  height: 3rem;
  z-index: 999;
  background-color: $raven;
  font-family: "Alyrak";
  font-weight: 500;
}

.navbar__top__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  img {
    filter: invert(100);
    width: 2rem;
    height: 1.5rem;
  }
}

.navbar__links__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 1rem;
}

.navbar__links {
  width: 100%;
  display: flex;
  gap: 3%;
  border: 1px dotted $platinum-2;
  padding: .1rem 1rem;

  p {
    color: $platinum-2;
    font-family: $font-text;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: .09rem;
    cursor: pointer;
    padding: 0 0.5rem;
    border-left: 1px dotted $platinum-2;
    border-right: 1px dotted $platinum-2;
  }
}

.activeLink {
  background-color: $jasper;
  color: $raven !important;
  font-weight: 800;
}

.navbar__top__info {
  display: flex;
  gap: 1rem;
}

.navbar__top__contact {
  border: 1px dotted $platinum-2;
  padding: .1rem 1rem;
  cursor: pointer;

  p {
    font-family: $font-text;
    color: $platinum-2;
    font-size: 1rem;
  }
}

.navbar__top__language__switch {
  width: 4.5rem;
  height: 2rem;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .15rem;
  color: $platinum-2;
  cursor: pointer;
  border: 1px dotted $platinum-2;
  padding: .1rem;
}

.navbar__top__language__pl {
  width: 50%;
  text-align: center;
}

.navbar__top__language__eng {
  width: 50%;
  text-align: center;
}

.clickedPl, .clickedEng {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $jasper;
  border-top-left-radius: .15rem;
  border-bottom-left-radius: .15rem;
  width: 50%;
  height: 100%;
}

@media (max-width: 540px) {

  .navbar__top__wrapper {
    padding: 0 1rem;
  }

  .navbar__top__logo {
    gap: .1rem;

    img {
      width: 1.5rem;
      height: 1rem;
    }
  }

  .navbar__links__container {
    display: none;
  }

  .navbar__top__language__switch {
    height: 1.7rem;
  }
}
