@import '../../styles/settings.scss';

#dropdown {
  display: none;
}

.navbar__top__dropdown__btn {
  display: none;
}

.navbar__top__wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid $eerie-black;
}

.navbar__top__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  height: 3rem;
  background-color: $cosmic-latte;
  font-family: "Alyrak";
  font-weight: 500;
}

.navbar__top__logo {
  display: flex;
  align-items: center;

  img {
    width: 2rem;
    height: 2rem;
    background-color: $persian-red;
  }
}

.navbar__links__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 1rem;
  background-color: $cosmic-latte;
}

.navbar__links {
  width: 100%;
  display: flex;
  gap: 3%;
  border: 1px dotted $eerie-black;
  padding: 0 1rem;
  list-style-type: none;
  margin: 0;

  p {
    color: $eerie-black;
    font-family: $font-text;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: .09rem;
    cursor: pointer;
    padding: 0 0.5rem;
    border-left: 1px dotted $eerie-black;
    border-right: 1px dotted $eerie-black;
  }
}

.activeLink {
  background-color: $jasper;
  color: $raven !important;
  font-weight: 800;
}

.navbar__top__info {
  display: flex;
  gap: 1rem;
}

.navbar__top__language__switch {
  width: 4.5rem;
  height: 2rem;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .15rem;
  color: $eerie-black;
  cursor: pointer;
  border: 1px dotted $eerie-black;
  padding: .1rem;
}

.navbar__top__language__pl {
  width: 50%;
  text-align: center;
}

.navbar__top__language__eng {
  width: 50%;
  text-align: center;
}

.clickedPl, .clickedEng {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $persian-red;
  border-top-left-radius: .15rem;
  border-bottom-left-radius: .15rem;
  width: 50%;
  height: 100%;
}

@media (max-width: 540px) {

  #dropdown {
    display: block;
  }

  .navbar__top__logo {
    display: none;
  }

  .navbar__top__dropdown__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;

    .dropdown__btn__inner {
      background-color: $eerie-black;
      width: 2rem;
      height: .25rem;
      border-radius: 3rem;
      transition: transform .4s ease;
    }

    .firstHam {
      transform: rotate(0);
    }

    .thirdHam {
      transform: rotate(0);
    }
  }

  .navbar__top__dropdown__btn.on {

    .firstHam {
      transform: rotate(45deg);
    }

    .secondHam {
      display: none;
    }

    .thirdHam {
      margin-top: -.5rem;
      transform: rotate(-45deg);
    }
  }

  .dropdown__container {
    position: absolute;
    top: 2.3rem;
    left: 0;
    background-color: $cosmic-latte;
    height: 100vh;
    width: 19%;
    transform: translateX(-101%);
    transition: transform .4s ease;
    border-right: 1px solid $eerie-black;
  }

  .dropdown__container.show {
    transform: translateX(0);
  }

  .dropdown__links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    gap: 6.4rem;
    padding: 80% 0;
    margin: 0;

    li p {
      font-family: $font-text;
      font-weight: 900;
      color: $eerie-black;
      line-height: 0;
      font-size: 1.7rem;
      transform: rotate(-90deg);
    }

    li img {
      width: 2.5rem;
      height: 2.5rem;
      background-color: $persian-red;
    }
  }

  .navbar__top__container {
    height: 2.3rem;
  }

  .navbar__top__container {
    padding: 0 1rem;
  }

  .navbar__links__container {
    display: none;
  }

  .navbar__top__language__switch {
    height: 1.7rem;
  }
}
