@import '../../styles/settings.scss';

.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  background-color: $raven;
  padding: 1%;

  p {
    font-size: .9rem;
    color: $cosmic-latte;
  }
}

@media(max-width: 540px) {
  .footer__wrapper {
    p {
      font-size: .6rem;
    }
  }
}
