@import '../../styles/settings.scss';

#motto {
  min-height: 100vh;
  overflow: hidden;
  background-color: $raven;
  position: relative;
  border-top: 1px solid rgb(104, 104, 104);
}

.motto__underlay {
  position: absolute;
  z-index: 1;
  width: 100%;

  img {
    width: 160%;
    filter: brightness(0.9) sepia(0.1) contrast(0.95);
  }
}

.motto__title__box {
  position: relative;
  z-index: 30;

  img {
    position: absolute;
    top: 0;
    right: -10%;
    min-width: 50%;
    max-width: 50%;
    z-index: 5;
    transform: rotate(-30deg);
  }
}

  .motto__info {
    position: absolute;
    z-index: 20;
    bottom: 5%;
    left: 5%;
    opacity: 0.95;
    width: 85%;

    p {
      font-size: 5rem;
      font-weight: 600;
      color: $cosmic-latte;
      font-family: $font-1;
      filter: brightness(0.95);
    }
  }

@media (max-width: 540px) {
  #motto {
    border-top: 1px solid rgba(255, 255, 255, 0.274);
  }

  .motto__underlay {
    width: 100%;

    img {
      width: 400%;
    }
  }

  .motto__title__box {
    img {
      left: 25%;
      min-width: 100%;
      max-width: 100%;
      transform: rotate(-40deg);
    }
  }

  .motto__info {
    bottom: 5%;
    left: 5%;
    width: 100%;

    p {
      font-size: 3.1rem;
    }
  }
}
