@import '../../styles/settings.scss';

#motto {
  min-height: 100vh;
  overflow: hidden;
  background-color: $raven;
  position: relative;
  border-top: 1px solid $grid;
}

.motto__underlay {
  position: absolute;
  z-index: 1;
  width: 100%;

  img {
    width: 160%;
    filter: brightness(.9) sepia(.1) contrast(.99);
  }
}

.motto__title__box {
  position: relative;
  z-index: 30;

  img {
    position: absolute;
    top: 0;
    right: -10%;
    min-width: 50%;
    max-width: 50%;
    z-index: 5;
    transform: rotate(-30deg);
  }
}

  .motto__info {
    position: absolute;
    z-index: 20;
    bottom: 5%;
    left: 5%;
    width: 85%;

    p {
      font-size: 8rem;
      font-weight: 600;
      color: $platinum-2;
      font-family: $font-1;
    }
  }

  .motto__contactBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;

    button {
      display: inline;
      font-family: $font-text;
      font-weight: 900;
      font-size: 2rem;
      background-color: transparent;
      padding: .5rem 5rem;
      border: none;
      border-top: 1px solid $eerie-black;
      border-left: 1px solid $eerie-black;
      color: $eerie-black;
      text-transform: uppercase;
      letter-spacing: .05rem;
      cursor: pointer;
    }
  }

@media (max-width: 540px) {

  .motto__underlay {
    width: 100%;

    img {
      width: 400%;
    }
  }

  .motto__title__box {
    img {
      left: 25%;
      min-width: 100%;
      max-width: 100%;
      transform: rotate(-40deg);
    }
  }

  .motto__info {
    bottom: 5%;
    left: 5%;
    width: 100%;

    p {
      font-size: 3.1rem;
    }
  }

  .motto__contactBtn {
    button {
      font-size: 1.2rem;
      padding: .4rem 1.6rem;
      letter-spacing: 0;
    }
  }
}
