@import '../../styles/settings.scss';

.project__modalshow__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  border: 1px solid $cosmic-latte;
}

.project__modalshow__container {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.project__modalshow__title {
  width: 15%;

  p {
    margin-top: -8vw;
    font-family: 'Alyrak';
    font-size: 5rem;
    font-weight: 500;
    line-height: 0;
    color: $cosmic-latte;
    transform: rotate(-90deg);
  }
}

.project__modalshow__moc {
  display: flex;
  align-items: center;
  background-color: $jasper;
  padding: 0 2%;
  border: 1px solid $cosmic-latte;
  border-right: none;
  width: 100%;
}

.project__modalshow__moc__image {
  width: 100%;
  box-shadow: 1px 1px 1px $cosmic-latte;

  img {
    width: 100%;
    display: block;
    filter: sepia(0.3) contrast(0.95);
  }
}

.project__modalshow__bottom {
  display: flex;
}

.project__modalshow__bottom__left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid $cosmic-latte;
  border-right: 1px solid $cosmic-latte;

  p {
    font-family: $font-text;
    font-size: 1.4rem;
    color: $cosmic-latte;
    width: 70%;
    font-weight: 200;
  }
}

.project__modalshow__bottom__right {
  border-top: 1px solid $cosmic-latte;
  width: 100%;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  gap: 1rem;
}

.project__modalshow__techs {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3.5%;
}

.projects__modalshow__tech__box {
  width: 100%;

  img {
    width: 30%;
    filter: invert(1) brightness(5);
  }
}

.project__modalshow__link {
  a {
    color: $jasper;
  }

  p {
    border-top: 1px dotted $cosmic-latte;
    border-bottom: 1px dotted $cosmic-latte;
    padding: 0.1rem 1rem;
    width: 100%;
    font-family: $font-text;
    font-weight: 800;
    font-size: 2rem;
  }
}

.project__modalshow__button {
  button {
    border: none;
    font-family: 'Alyrak';
    font-size: 3rem;
    font-weight: 500;
    color: $jasper;
    background-color: inherit;
    cursor: pointer;
  }
}

@media (max-width: 540px) {


.project__modalshow__title {
  width: 15%;

  p {
    font-size: 3rem;
  }
}

  .project__modalshow__moc {
    padding: 0;
    padding-top: 20%;
    flex-direction: column-reverse;
    gap: 0.05rem;
    justify-content: center;
    align-items: center;
  }

  .project__modalshow__moc__image {
    width: 100%;
    box-shadow: 1px 1px 1px $cosmic-latte;
    display: flex;
    justify-content: center;

    img {
      width: 50%;
      display: block;
      filter: sepia(0.3) contrast(0.95);
    }
  }

  .project__modalshow__techs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    gap: 1rem;
    width: 100%;
    margin-top: 3%;
  }

  .projects__modalshow__tech__box {
    width: 100%;
    text-align: center;

    img {
      width: 70%;
      filter: invert(1) brightness(5);
    }
  }

  .project__modalshow__button {
    button {
      font-size: 2rem;
    }
  }

  .project__modalshow__bottom {
    display: flex;
    flex-direction: column;
  }

  .project__modalshow__bottom__left {
    margin-top: 0.5rem;
    border-right: none;

    p {
      font-size: 1rem;
      width: 95%;
    }
  }

  .project__modalshow__bottom__right {
    gap: 1rem;
  }

  .project__modalshow__techs {
    margin-top: 2%;
  }

  .project__modalshow__link {
    p {
      width: 100%;
      font-family: $font-text;
      font-weight: 800;
      font-size: 2rem;
    }
  }
}