@import '../../styles/settings.scss';

.hero__wrapper {
  height: 100vh;
  overflow: hidden;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.hero__info__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  img {
    display: flex;
    width: 3rem;

    &:hover {
      filter: invert(24%) sepia(68%) saturate(1841%) hue-rotate(341deg) brightness(101%) contrast(100%);
    }
  }
}

.hero__info__social__pattern {
  height: 100%;
  width: 1px;
  background-color: $eerie-black;
}

.hero__info__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  p {
    text-transform: uppercase;
  }
}

.hero__info__button {
  button {
    width: 20rem;
    background-color: transparent;
    padding: .5rem;
    border: 1px solid $eerie-black;
    font-family: $font-head;
    font-size: 1.3rem;
    color: $eerie-black;
    text-transform: uppercase;
    cursor: crosshair;

    &:hover {
      background-color: $jasper;
      border: 1px solid $jasper;
      color: $eerie-black;
      filter: brightness(1.1);
    }
  }
}

.hero__main__top {
  display: flex;
  align-items: flex-end;
  gap: .1rem;
}

.main__top__left {
  text-align: end;
  z-index: 1;

  p {
    font-family: $font-head;
    font-size: 12.93rem;
    text-transform: uppercase;
    line-height: .89;
    font-weight: 700;
  }
}

.main__top__right {
  display: flex;
  background-color: $raven;
  z-index: 2;

  img {
    border: 1px solid $raven;
    height: 45rem;
    filter: saturate(0) sepia(.1);
  }
}

@media (max-width: 540px) {

  .hero__info__social__pattern {
    display: none;
  }

  .hero__wrapper {
    padding: 0 5%;
    justify-content: space-around;
  }

  .hero__container {
    padding-top: 2.5rem;
    flex-direction: column-reverse;
  }


  .hero__info__social {
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;

    img {
      width: 2.5rem;
    }
  }

  .hero__info__details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__top__right {
    img {
      height: 24rem;
    }
  }

  .main__top__left {
    p {
      font-size: 4rem;
    }
  }
}
