@import '../../styles/settings.scss';

.hero__wrapper {
  min-height: 100vh;
}

.hero__main {
  display: flex;
  flex-direction: column;
  padding: 6rem 10%;
}

.hero__main__top {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  gap: .3rem;
  border-top: 1px solid $cosmic-latte;
  border-right: 1px solid $cosmic-latte;
}

.main__top__right {
  width: 100%;
  overflow: hidden;

  img {
    height: 50rem;
    object-fit: contain;
    filter: saturate(0) sepia(.3);
  }
}

.main__top__left {
  width: 100%;
  text-align: end;
  background-color: $raven;

  p {
    font-family: 'Alyrak';
    font-size: 11rem;
    font-weight: 500;
    color: $jasper;
    text-transform: uppercase;
    line-height: .74;
  }
}

.hero__main__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-right: 1px solid $cosmic-latte;
}

.main__bottom__left {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  border-left: 1px solid $cosmic-latte;
  border-bottom: 1px solid $cosmic-latte;
  padding-left: 1rem;
  padding-bottom: 1rem;

  p {
    font-family: $font-text;
    font-size: 1.5rem;
    font-weight: 200;
    color: $cosmic-latte;
    text-transform: uppercase;
    line-height: 1.15;
  }

  button {
    display: inline;
    font-family: $font-text;
    font-weight: 900;
    font-size: 2rem;
    background-color: $jasper;
    padding: 1rem 5rem;
    border: none;
    color: $raven;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 99;
    cursor: pointer;

    &:hover {
      color: $cosmic-latte;
    }
  }
}

.hero__social {
  display: flex;
  gap: 1.5rem;
  padding: .7rem;
  border-left: 1px solid $cosmic-latte;
  border-top: 1px solid $cosmic-latte;
  border-bottom: 1px solid $cosmic-latte;

  img {
    width: 3rem;
    filter: invert(90%) sepia(9%) saturate(559%) hue-rotate(334deg) brightness(106%) contrast(107%);
    cursor: pointer;

    &:hover {
      filter: invert(40%) sepia(10%) saturate(2365%) hue-rotate(355deg) brightness(1.7) contrast(.6);
    }
  }
}

@media (max-width: 540px) {

  .hero__main {
    padding: 4%;
    padding-top: 3rem;
  }

  .hero__main__top {
    padding-top: 1.5rem;
    gap: .15rem;
  }

  .main__top__right {
    img {
      width: 100%;
      height: 25rem;
    }
  }

  .main__top__left {
    margin-bottom: 0;

    p {
      font-size: 3.9rem;
      line-height: .736;
    }
  }

  .main__bottom__left {
    gap: 4.3rem;

    p {
      padding-left: 3%;
      font-size: 1rem;
    }

    button {
      font-size: 1.5rem;
      padding: .5rem 1rem;
      letter-spacing: 0;
    }
  }

  .hero__social {
    flex-direction: column;
    gap: .8rem;
    padding: .45rem;

    img {
      width: 2.1rem;
    }
  }
}
