@import '../../styles/settings.scss';

.new__hero__wrapper {
  min-height: 100vh;
  padding-top: 4.5rem;
  overflow: hidden;
  position: relative;
  background-color: $raven;
}

.new__hero__pattern {
  position: absolute;
  bottom: 0;
  background-color: $platinum;
  min-height: 8.66vw;
  width: 100%;
  z-index: 2;
}

.new__hero__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 3;
}

.new__hero__title {
  width: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 3rem;
  padding-left: 3rem;

  p {
    font-family: 'Alyrak';
    font-weight: 100;
    font-size: 3.5rem;
    line-height: 0.8;
    color: $raven;
    letter-spacing: 0.1rem;
  }
}

.new__hero__image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.new__hero__image__pattern {
  border: 20px solid $tan-2;
  border-radius: 0rem;
  width: 130%;
  height: 60%;
}

.new__hero__image__img {
  text-align: center;
  margin-top: -100%;
  width: 100%;
  position: relative;

  img {
    width: 75%;
    filter: saturate(0.8);
  }
}

.new__hero__pattern__two {
  position: absolute;
  background-color: $persian-red;
  top: -5%;
  left: -75%;
  width: 125%;
  height: 60%;
  opacity: 0.35;
  filter: brightness(1.6);
  z-index: 4;
}

.new__hero__button {
  position: absolute;
  bottom: 48%;
  left: -70%;
  z-index: 5;

  button {
    display: inline;
    background-color: $raven;
    border: 1px dotted $platinum-2;
    padding: 0.5rem 2rem;
    font-family: $font-text;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: $platinum-2;
    font-weight: 300;
    //filter: brightness(1.1);
  }
}

.new__hero__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.new__hero__info__name {
  display: flex;
  gap: 1.5rem;
  margin-top: 8rem;
  padding-right: 3rem;

  p {
    font-family: 'Alyrak';
    font-weight: 100;
    font-size: 6rem;
    line-height: 0.77;
    color: $persian-red;
    letter-spacing: 0.1rem;
  }
}

.new__hero__info__social {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;

  img {
    width: 3rem;
  }
}

@media(max-width: 540px) {
  .new__hero__wrapper {
    padding: 0;
  }

  .new__hero__container {
    flex-direction: column-reverse;
    justify-content: start;
    top: 10%;
    gap: 3rem;
  }

  .new__hero__info {
    align-items: center;
  }

  .new__hero__info__name {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 0;
    margin-top: 0;

    p {
      font-size: 5rem;
    }
  }

  .new__hero__info__social {
    padding: 0;
    gap: 1rem;

    img {
      filter: invert(1);
      width: 2rem;
    }
  }

  .new__hero__image__pattern {
    border: 5px solid $tan-2;
    border-radius: 0rem;
    width: 85%;
    height: 20rem;
  }

  .new__hero__image__img {
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: -70%;

    img {
      width: 60%;
      filter: saturate(0.8);
    }
  }

  .new__hero__pattern {
    position: absolute;
    bottom: 0;
    background-color: $platinum;
    min-height: 26.6%;
    width: 100%;
    z-index: 2;
  }

  .new__hero__title {
    padding: 0;
    padding-bottom: 18%;
    justify-content: center;

    p {
      font-size: 2.5rem;
    }
  }
}