@import '../../styles/settings.scss';

.arty__hero__wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.arty__hero__version {
  margin-left: 1%;

  p {
    font-size: 1rem;
    color: $platinum-2;
    opacity: .6;
  }
}

.arty__hero__main {
  display: flex;
  flex-direction: column;
  padding: 6% 7%;
}

.arty__hero__main__top {
  padding-top: 2%;
  background-color: $raven;
  display: flex;
  align-items: flex-end;
  z-index: 3;
  border-top: 1px solid $cosmic-latte;
  border-right: 1px solid $cosmic-latte;
}

.main__top__right {
  width: 100%;

  img {
    width: 100%;
    filter: sepia(.3);
  }
}

.main__top__left {
  width: 100%;
  text-align: end;
  margin-bottom: -.5rem;
  background-color: $raven;

  p {
    font-family: 'Alyrak';
    font-size: 12rem;
    font-weight: 500;
    color: $jasper;
    text-transform: uppercase;
    line-height: .735;
  }
}

.arty__hero__main__center {
  display: flex;
  z-index: 2;
  background-color: $raven;
  border-right: 1px solid $cosmic-latte;
  padding: 0 1%;
}

.main__center__right {
  width: 100%;
  margin-top: 1.1rem;
  margin-left: 1rem;

  p {
    font-family: 'Alyrak';
    font-size: 19.65rem;
    font-weight: 500;
    color: $jasper;
    text-transform: uppercase;
    line-height: .73;
  }
}

.main__center__left {
  width: 100%;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    filter: sepia(.3);
  }
}

.arty__hero__image__overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  img {
    width: 100%;
  }
}

.arty__hero__main__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 2;
  background-color: $raven;
  border-right: 1px solid $cosmic-latte;
}

.main__bottom__left {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  p {
    padding-left: 3.4%;
    font-family: $font-text;
    font-size: 1.7rem;
    font-weight: 100;
    color: $cosmic-latte;
    text-transform: uppercase;
    line-height: 1.2;
  }

  button {
    display: inline;
    font-family: $font-text;
    font-weight: 900;
    font-size: 2rem;
    background-color: $jasper;
    padding: 1rem 5rem;
    border: none;
    color: $raven;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 99;
    cursor: pointer;
  }
}

.arty__hero__social {
  display: flex;
  gap: 1.5rem;
  padding: .3rem;
  border-left: 1px solid $cosmic-latte;
  border-top: 1px solid $cosmic-latte;
  border-bottom: 1px solid $cosmic-latte;

  img {
    width: 3rem;
    filter: invert(90%) sepia(9%) saturate(559%) hue-rotate(334deg) brightness(106%) contrast(107%);
    cursor: pointer;
  }
}

@media (max-width: 540px) {

  .arty__hero__version {
    p {
      font-size: 0.7rem;
      opacity: .4;
    }
  }

  .arty__hero__main {
    padding: 4%;
    padding-top: 17%;
    min-height: 100vh;
  }

  .arty__hero__main__top {
    padding-top: 5%;
  }

  .main__top__left {
    margin-bottom: 0;

    p {
      font-size: 4.5rem;
    }
  }

  .arty__hero__main__center {
    flex-direction: column;
    gap: .65rem;
    padding: 0 2%;
  }

  .main__center__right {
    margin-top: 0;
    margin-left: 0;

    p {
      font-size: 7rem;
    }
  }

  .main__bottom__left {
    gap: 4rem;

    p {
      padding-left: 4%;
      font-size: 1rem;
    }

    button {
      font-size: 1.5rem;
      padding: .5rem 1rem;
      letter-spacing: 0;
    }
  }

  .arty__hero__social {
    flex-direction: column;
    gap: .8rem;

    img {
      width: 2rem;
    }
  }
}
