@import '../../styles/settings.scss';

.arty__hero__wrapper {
  min-height: 100vh;
  padding-top: 1rem;
  position: relative;
  overflow: hidden;
}

.arty__hero__version {
  margin-left: 1%;

  p {
    font-size: 0.9rem;
    color: $cosmic-latte;
    opacity: 0.6;
  }
}

.arty__hero__underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  //z-index: -1;

  img {
    width: 100%;
    opacity: 0.4;
    object-fit: cover;
    filter: invert(1);
  }
}

.arty__hero__container {
  margin: 3%;
  margin-top: 0;
  z-index: 2;
}

.arty__hero__main {
  display: flex;
  flex-direction: column;
  padding: 5%;
  padding-bottom: 2.5%;
  background-color: $raven;
  z-index: 99;
}

.arty__hero__main__top {
  padding-top: 1rem;
  display: flex;
  align-items: flex-end;
  z-index: 3;
  background-color: $raven;
}

.main__top__right {
  width: 100%;
  background-color: $raven;

  img {
    width: 100%;
    filter: sepia(0.4);
  }
}

.main__top__left {
  width: 100%;
  text-align: end;
  margin-bottom: -0.2rem;
  background-color: $raven;

  p {
    font-family: 'Alyrak';
    font-size: 9rem;
    font-weight: 100;
    color: $jasper;
    text-transform: uppercase;
    line-height: 0.73;
  }
}

.arty__hero__main__center {
  display: flex;
  align-items: flex-start;
  z-index: 2;
  background-color: $raven;
}

.main__center__right {
  width: 100%;
  text-align: start;
  margin-top: 0.8rem;
  margin-left: 0.2rem;
  background-color: $raven;

  p {
    font-family: 'Alyrak';
    font-size: 14rem;
    font-weight: 100;
    color: $jasper;
    text-transform: uppercase;
    line-height: 0.73;
  }
}

.main__center__left {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: $raven;

  img {
    width: 100%;
    filter: sepia(0.4);
    display: block;
  }
}

.arty__hero__image__overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
}

.arty__hero__main__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 2;
  background-color: $raven;
}

.main__bottom__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6rem;

  p {
    font-family: $font-text;
    font-size: 1.5rem;
    font-weight: 100;
    color: $cosmic-latte;
    text-transform: uppercase;
    line-height: 1.2;
  }

  button {
    display: inline;
    font-family: $font-text;
    font-weight: 900;
    font-size: 2rem;
    background-color: $jasper;
    padding: 1rem 5rem;
    border: none;
    color: $raven;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 99;
    cursor: pointer;
  }
}

.arty__hero__social {
  display: flex;
  gap: 1.5rem;

  img {
    width: 3rem;
    filter: invert(40%) sepia(10%) saturate(2365%) hue-rotate(355deg) brightness(1.7) contrast(0.6);
    cursor: pointer;
  }
}

@media (max-width: 540px) {
  .arty__hero__wrapper {
    padding-top: 0.5rem;
  }

  .arty__hero__version {
    p {
      font-size: 0.7rem;
      opacity: 0.4;
    }
  }

  .arty__hero__container {
    margin: 0;
  }

  .arty__hero__main {
    padding: 6%;
    padding-bottom: 6%;
    padding-top: 4rem;
    border-bottom-right-radius: 0;
    min-height: 100vh;
  }

  .main__top__left {
    margin-bottom: 0;

    p {
      font-size: 4.5rem;
    }
  }

  .arty__hero__main__center {
    flex-direction: column;
    gap: 0.65rem;
  }

  .main__center__right {
    margin-top: 0;
    margin-left: 0;

    p {
      font-size: 7rem;
    }
  }

  .main__bottom__left {
    gap: 4rem;

    p {
      font-size: 1rem;
    }

    button {
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      letter-spacing: 0;
    }
  }

  .arty__hero__social {
    flex-direction: column;
    gap: 0.7rem;

    img {
      width: 2rem;
    }
  }
}