@import '../../styles/settings.scss';

.arty__hero__wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.arty__hero__main {
  display: flex;
  flex-direction: column;
  padding: 6rem 10%;
}

.arty__hero__main__top {
  padding-top: 5rem;
  background-color: $raven;
  display: flex;
  align-items: flex-end;
  z-index: 3;
  border-top: 1px solid $cosmic-latte;
  border-right: 1px solid $cosmic-latte;
}

.main__top__right {
  width: 100%;
  margin-bottom: 0.5rem;

  img {
    width: 100%;
    filter: sepia(.3);
  }
}

.main__top__left {
  width: 100%;
  text-align: end;
  background-color: $raven;
  margin-right: 1rem;

  h1 {
    font-family: 'Alyrak';
    font-size: 11rem;
    font-weight: 500;
    color: $jasper;
    text-transform: uppercase;
    line-height: .735;
  }
}

.arty__hero__main__center {
  display: flex;
  background-color: $raven;
  padding: 0 1%;
  z-index: 3;
  border-right: 1px solid $cosmic-latte;
}

.main__center__right {
  width: 100%;
  margin-top: .85rem;
  margin-left: 1rem;

  h1 {
    font-family: 'Alyrak';
    font-size: 19.7rem;
    font-weight: 500;
    color: $jasper;
    text-transform: uppercase;
    line-height: .73;
  }
}

.main__center__left {
  width: 100%;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    filter: sepia(.3);
  }
}

.arty__hero__image__overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  img {
    width: 100%;
  }
}

.arty__hero__main__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 3;
  background-color: $raven;
  border-right: 1px solid $cosmic-latte;
}

.main__bottom__left {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  p {
    padding-left: 4%;
    padding-top: 1%;
    font-family: $font-text;
    font-size: 1.5rem;
    font-weight: 100;
    color: $cosmic-latte;
    text-transform: uppercase;
    line-height: 1.1;
  }

  button {
    display: inline;
    font-family: $font-text;
    font-weight: 900;
    font-size: 2rem;
    background-color: $jasper;
    padding: 1rem 5rem;
    border: none;
    color: $raven;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 99;
    cursor: pointer;

    &:hover {
      color: $cosmic-latte;
    }
  }
}

.arty__hero__social {
  display: flex;
  gap: 1.5rem;
  padding: .7rem;
  border-left: 1px solid $cosmic-latte;
  border-top: 1px solid $cosmic-latte;
  border-bottom: 1px solid $cosmic-latte;

  img {
    width: 3rem;
    filter: invert(90%) sepia(9%) saturate(559%) hue-rotate(334deg) brightness(106%) contrast(107%);
    cursor: pointer;

    &:hover {
      filter: invert(40%) sepia(10%) saturate(2365%) hue-rotate(355deg) brightness(1.7) contrast(0.6);
    }
  }
}

@media (max-width: 540px) {

  .arty__hero__main {
    padding: 4%;
    padding-top: 3rem;
  }

  .arty__hero__main__top {
    padding-top: 1.2rem;
  }

  .main__top__right {
    margin: 0;
  }

  .main__top__left {
    margin-bottom: 0;

    h1 {
      font-size: 3.9rem;
      line-height: .736;
    }
  }

  .arty__hero__main__center {
    flex-direction: column;
    gap: .5rem;
    padding: 0 1%;
  }

  .main__center__right {
    margin-top: 0;
    margin-left: 0;

    h1 {
      font-size: 7rem;
    }
  }

  .main__bottom__left {
    gap: 4.3rem;

    p {
      padding-left: 3%;
      font-size: 1rem;
    }

    button {
      font-size: 1.5rem;
      padding: .5rem 1rem;
      letter-spacing: 0;
    }
  }

  .arty__hero__social {
    flex-direction: column;
    gap: .8rem;
    padding: 0.45rem;

    img {
      width: 2.1rem;
    }
  }
}
